@import "tailwindcss";

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background-color: #f4f5f7;
}


* {
    transition: all 150ms;
}
#root {
    min-height: 100vh;
}